# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Mathew Harman
    email = mathew.harman@gmail.com
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore.global
[diff]
    tool = vimdiff
[difftool]
    trustExitCode = true
[alias]
    mt = mergetool -y
    dt = difftool -y
    lg = log --color --graph --oneline --decorate
    hist = !git lg --all && exit
[merge]
    tool = vimdiff
[push]
    default = simple
