# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Mathew Harman
    email = Mathew.Harman@m2mdtech.com
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore.global
[diff]
    tool = vimdiff3
[difftool]
    trustExitCode = true
[difftool "vimdiff3"]
    path = nvim
[merge]
    tool = vimdiff3
[mergetool "vimdiff3"]
    path = nvim
[alias]
    mt = mergetool -y
    dt = difftool -y
    lg = log --color --graph --oneline --decorate
    hist = !git lg --all && exit
[push]
    default = simple

# Use nvim as vimdiff
# [mergetool "vimdiff3"]
#     cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
