# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Mathew Harman
    email = mathew.harman@gmail.com
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore.global
[diff]
    tool = vimdiff3
[difftool]
    trustExitCode = true
[difftool "vimdiff3"]
    path = nvim
[merge]
    tool = nvimdiff3
[mergetool "nvimdiff3"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
    mt = mergetool -y
    dt = difftool -y
    lg = log --color --graph --oneline --decorate
    hist = !git lg --all && exit
[push]
    default = simple
[pull]
    rebase = true
