# vim: set ft=gitconfig:
[user]
        name = Mathew Harman
	email = mathew.harman@gmail.com
[color]
        ui = auto
[core]
        editor = nvim
        excludesfile = ~/.gitexclude
[init]
	defaultBranch = main
[diff]
        tool = dtnvim
	algorithm = histogram
[merge]
        tool = mtnvim
	conflictstyle = diff3
[difftool]
        trustExitCode = true
[difftool "dtnvim"]
        cmd = nvim -d $LOCAL $REMOTE -c 'wincmd l'
[mergetool]
        trustExitCode = true
	keepBackup = false
[mergetool "mtnvim"]
        cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
        mt = mergetool -y
        dt = difftool -y
        lg = log --color --graph --oneline --decorate
        hist = !git lg --all && exit
[push]
        default = simple
[pull]
        rebase = true
[apply]
        whitespace = nowarn

[include]
	path = ~/.config/git-gpg
[safe]
	directory = /opt/esp/*
[includeIf "gitdir:~/flock/**"]
        path = ~/.config/git-flock
[includeIf "gitdir:~/raven/**"]
        path = ~/.config/git-flock
[includeIf "gitdir:~/m2md/**"]
        path = ~/.config/git-m2md
