[user]
        name = Mathew Harman
        email = mathew.harman@gmail.com
[core]
        editor = nvim
        excludesfile = ~/.gitexclude
[color]
        ui = auto
[init]
        templatedir = ~/.git-templates/
	defaultBranch = main
[diff]
        tool = dtnvim
[merge]
        tool = mtnvim
[difftool]
        trustExitCode = true
[difftool "dtnvim"]
        cmd = nvim -d $LOCAL $REMOTE -c 'wincmd l'
[mergetool]
        trustExitCode = true
[mergetool "mtnvim"]
        cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
        mt = mergetool -y
        dt = difftool -y
        lg = log --color --graph --oneline --decorate
        hist = !git lg --all && exit
[push]
        default = simple
[pull]
        rebase = true
[apply]
        whitespace = nowarn

# vim: set ft=gitconfig:
