snippet incguard
#ifndef $1_H
#define ${1:SYMBOL}_H

${0}

#endif  // $1_H
endsnippet

snippet exc
#ifdef __cplusplus
extern "C" {
#endif

${0}

#ifdef __cplusplus
}
#endif
endsnippet

snippet cincguard
incguard ${1:&}
exc ${0:&}
endsnippet
