snippet once
    #ifndef ${1}_H
    #define ${1}_H
    ${0}
    #endif  // ${1}_H

snippet nocxx
    #ifdef __cplusplus
    extern "C" {
    #endif

    ${0}

    #ifdef __cplusplus
    }
    #endif

snippet if
    if ($1) {
    }
